.new-listener {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgb(197, 253, 253);
  height: 50px;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}